<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>CREATE NEW USER</title>

    <!--   to integrate google re-CAPTCHA-->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
  <br>
    {% if messages %}
      <div class="container-sm text-center p-3 mb-2 bg-danger text-white">
            {% for message in messages %}
            <h5 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h5>
            {% endfor %}
      </div>
    {% endif %}
  <div class="container">
    <h1>REGISTER NEW USER</h1>
    <form method="POST" action="">
      {% csrf_token %}
<!--      {{ fm.as_p }}-->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input name="email" type="email" class="form-control" id="email">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Select User-Type</label>
        <div class="col-sm-10">
          <select name="usertype" class="form-control ">
            <option  value="1">Customer</option>
            <option selected value="2">Seller</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input name="password1" type="password" class="form-control" id="password">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Confirm Password</label>
        <div class="col-sm-10">
          <input name="password2" type="password" class="form-control" id="confirm_password">
        </div>
      </div>

      <!--      site key for G-re-CAPTCHA-->
      <div class="g-recaptcha" data-sitekey="6LcGnd0cAAAAAPZ8CU-z91tJqnDsHhId2FsADBAQ"></div>
      <br>

      <input type="submit" value="CREATE USER" class="btn btn-sm btn-primary">
    </form>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>