<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>SALES PAGE!</title>
    <style>
body {
  font-family: "Lato", sans-serif;
}
.my-nav{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}
.sidenav {
  height: 91%;
  width: 12%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {

  margin-left: 12%; /* Same as the width of the sidenav */
  margin: 70px 0 0 12%;
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
  </head>
  <body>
  <!--  navigation bar content-->
  <nav class="my-nav navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Navbar content -->
    <a class="navbar-brand" style="margin-left:20px;" href="{% url 'homepage' %}">E-Commerce Site</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-uppercase" href="{% url 'homepage' %}">{{user}}</a>
        </li>
        <li class="nav-item active">
          {% if user.usertype == 1 %}
          <a class="nav-link text-uppercase" href="{% url 'user_orders' %}">My Orders</a>
          {% elif user.usertype == 2 %}
          <a class="nav-link text-uppercase" href="{% url 'user_sales' %}">My Sales</a>
          {% endif %}
        </li>
<!--        search bar-->

        <form class="form-inline my-2 my-lg-0" style="margin-left:150px;" action="#" method="get">
          <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
          <input class="btn btn-outline-success my-2 my-sm-0" type="submit">
        </form>

<!--        dropdown for categories-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          {% if total_kart_items != 1 and total_kart_items != 0 %}
            <a class="nav-link text-warning" href="#">{{total_kart_items}} Items in Cart</a>
          {% else %}
            <a class="nav-link text-warning" href="#">{{total_kart_items}} Item in Cart</a>
          {% endif %}
        </li>
        {% if user.is_authenticated%}
        <li class="nav-item">
          <a class="nav-link btn btn-danger btn-sm" href="{% url 'logout_User' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link btn btn-danger btn-sm" href="{% url 'login_User' %}">Login</a>
        </li>
        {% endif %}
      </ul>

    </div>
  </nav>


  <div class="sidenav">
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#contact">Contact</a>
  </div>

  <div class="main">
    <p>side section</p>
    <div class="container text-center">
      <h1 class="text-danger">PAGE YOU ARE SEARCHING FOR DOES NOT EXIST</h1>
      <a href="{% url 'homepage' %}" class="btn btn-sm btn-danger">GO TO HOME</a>
    </div>

  </div>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>